@import '../../partials/colors';

.Button {
  position: relative;
  min-width: 135px;
  border: 3px solid $color-blue;
  background-color: transparent;
  padding: 12px 25px;
  font-weight: 700;
  color: $color-blue;
  outline: none;
  display: inline-block;
  z-index: 2;
  font-size: 1rem;
  &:before {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    opacity: 0;
    z-index: -2;
    transition: all 0.23s ease-out;
  }
  &:active, &:focus, &:hover {
    cursor: pointer;
    color: #ffffff;
    &:before {
      top: 0;
      bottom: 0;
      background-color: $color-blue;
      opacity: 1;
    }
  }
}
