@import '../../partials/colors';

.Expertise {
  background: #ffffff ;
  color: #222222;
  padding: 60px 0;
  // height: 100vh;
  &__icons {
    font-size: 5rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

}