@import '../../partials/colors';

.SideNavigation {
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translate(100%, 0);
  z-index: 100;
  ul {
    // display: flex;
    height: 20vh;
    // flex-direction: column;
    // justify-content: space-between;
    list-style: none;
    li {
      margin-bottom: 80px;
      text-align: center;
      transform: rotate(270deg);
      cursor: pointer;
      &.active {
        transition: color 0.1s ease-in;
        color: $color-blue;
      }
    }
  }
  @media (min-width: 1200px) {
    transform: translate(20% ,-50%);
  }
}