.Experience {
  .career-title {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
}

.timeline {
  position: relative;
  min-width: 320px;
  max-width: 400px;
  margin: 25px auto;
  &-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
  }
  &-subtitle {
    line-height: 24px;
    margin-bottom: 5px;
    white-space: pre-wrap;
  }
  &-contentWrapper {
    margin: 0px 5px;
  }
  &-stacks {
    font-size: 0.8rem;
    font-style: italic;
    color: rgba($color: #000000, $alpha: 0.4);
  }
  .arrow {
    width: 115px;
  }
}

.timeline-step {
  display: flex;
  // width: 100px;
}

.timeline-dir-left {
  text-align: left;
  // transform: translateX(-5%);
}

.timeline-dir-right {
  // text-align: left;
  // transform: translateX(5%);
}

@media (min-width: 1200px) {
  .timeline-dir-left {
    float: left;
  }

  .timeline-dir-right {
    float: right;
  }
}
